# Top-most .editorconfig file.
root = true

# C/C++ Style
[*.{c,cpp,cxx,h,hxx,hpp}]
charset = utf-8
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80
c_include_path = include
curly_bracket_next_line = false
spaces_around_operators = true
space_after_control_statements = true
spaces_in_brackets = false

